{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jasmine": true,
    "jest": true,
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
      "jsx": true
  },
  "plugins": [
      "react"
  ],
  "rules": {
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "no-trailing-spaces": 2,
    "curly": [2, "all"],
    "no-native-reassign": 2,
    "quotes": [2, "single"],
    "space-infix-ops": 2,
    "semi": [2, "always"],
    "comma-style": [2, "last"],
    "comma-dangle": [2, "always-multiline"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "no-spaced-func": 2,
    "eol-last": 2,
    "no-console": 1,
    "object-shorthand": [1, "always"],
  },
  "globals": {
    "GLOBAL": true,
    "window": true,
  }
}